.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 130px 0 0 0;

  &-header {
    display: flex;
    align-items: center;

    .about-title {
      margin-bottom: 40px;
    }

    .about-icon {
      font-size: 30px;
      margin: 0 10px 40px 0;
    }
  }
  &-content {
    font-size: 20px;
    text-align: right;
    width: 60%;
  }
}
