.contact {
  background: url("/src/img/contact.jpg") no-repeat center center/cover fixed;
  width: 100%;
  height: 65vh;
  margin-top: 70px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.contact .contact-header {
  display: flex;
  justify-content: center;
  padding: 30px 0 20px;
  color: #fff;
}

.contact-header .header-icon {
  font-size: 40px;
  margin-right: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin-bottom: 20px;
  height: 50px;
  border-radius: 10px;
  /* display: flex; */
  background-color: rgba(255, 255, 255, 0.349);
  border: 1px #fff solid;
  width: 80%;
  font-size: 20px;
  color: #fff;
  padding: 0 10px;
}

.form-control:focus {
  outline: none;
}

.form-control::placeholder {
  margin: 5px 5px 0 0;
  float: right;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
}

.form-message {
  height: 100px;
}

.contact-btn {
  background-color: #075e54d8;
  transition: 0.2s ease;
  cursor: pointer;
  width: 30% !important;
}

.contact-btn:hover {
  background-color: #128c7e;
}

@media (max-width: 500px) {
  .contact {
    background: url("/src/img/contact.jpg") no-repeat center center/cover;
  }
}

@media (max-height: 400px) {
  .contact .contact-header h1 {
    font-size: 25px;
  }

  .contact-header .header-icon {
    font-size: 30px;
  }

  .form-control {
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }

  .form-control::placeholder {
    font-size: 15px;
  }

  .form-message {
    height: 50px;
  }

  /* .contact .contact-header {
    padding: 30px 0 0;
    color: #fff;
  } */
}
