.contact {
  background: url("/src/img/contact.jpg") no-repeat center center/cover fixed;
  width: 100%;
  height: 50vh;
  margin-top: 70px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.contact .contact-header {
  display: flex;
  justify-content: center;
  padding: 30px 0 20px;
  color: #f4f4f4;
}

.contact-header .header-icon {
  font-size: 40px;
  margin-right: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin-bottom: 20px;
  height: 50px;
  border-radius: 10px;
  /* display: flex; */
  background-color: rgba(255, 255, 255, 0.349);
  border: 1px #fff solid;
  width: 60%;
}

.form-control:focus {
  outline: none;
}

.form-control::placeholder {
  margin: 5px 5px 0 0;
  float: right;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
}

.form-message {
  height: 100px;
}
