.hero-container {
  background: url("/src//img//hero.jpg") center center/cover no-repeat fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  color: #fff;
}

.hero-title {
  font-size: 40px;
  padding: 15px;
}

.hero-container div {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

/* .hero-para {
  margin: 20px 10px;
  padding: 10px;
  max-width: 50%;
} */

.hero-btns {
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px 0;
  margin-top: 35px;
  animation: appear 1s ease-out forwards;
}

.hero-btn {
  padding: 7px 25px;
  margin: 10px 0;
  border-radius: 25px;
  border: #fff solid 2px;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 20px;
}

.hero-btn-1 {
  color: #fff;
  text-decoration: none;
  animation: appear-right 1s ease-out forwards;
}

.hero-btn-2 {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  animation: appear-left 1s ease-out forwards;
}

.hero-btn-1:hover {
  color: #000;
  background-color: #fff;
}

.hero-btn-2:hover {
  color: #fff;
  background-color: transparent;
}

.hero-whatsapp {
  position: fixed;
  bottom: 100px;
  right: 40px;
  font-size: 40px;
  color: #25d366;
  cursor: pointer;
  transition: all 1.5s cubic-bezier(0.7, 0.04, 0.66, 1.71);
}

.rotate {
  transform: rotate(360deg) scale(1.25);
}

/* .hero-whatsapp:hover {
  transform: rotate(360deg);
} */

.hero-phone {
  cursor: pointer;
}

.phone-icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  color: #34b7f1;
  opacity: 1;
}

.phone-number {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 25px;
  right: 28px;
  color: #777;
  opacity: 1;
}

.phone-number a {
  text-decoration: none;
  color: #777;
}

.phone-hidden {
  opacity: 0;
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 30px;
  }
}

@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
