.nav-container {
  width: 100%;
  height: 150px;
  // background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;

  .nav-logo {
    .logo {
      height: 170px;
      width: 170px;
    }
  }

  .nav-bars {
    display: none;
  }

  .nav-mobile-active {
    display: none;
  }

  .nav-ul {
    display: flex;
    margin: 0 20px;

    .nav-list-item {
      list-style: none;

      .nav-link {
        margin: 10px 15px;
        padding: 7px 7px;
        font-size: 22px;
        font-weight: bold;
        border-left: 3px solid transparent;
        transition: 0.3s ease;
        cursor: pointer;
        color: #fff;
        text-decoration: none;

        &:hover {
          border-left: 3px solid white;
          color: rgba(255, 255, 255, 0.678);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-container {
    .nav-bars {
      color: #fff;
      font-size: 40px;
      display: initial;
      position: fixed;
      top: 50px;
      right: 30px;
      cursor: pointer;
      transition: 0.2s ease;
      &:hover {
        color: rgba(255, 255, 255, 0.685);
      }
    }

    .nav-mobile-active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.562);
      width: 200px;
      height: 300px;
      z-index: 1;
      transition: all 0.5s ease;

      .mobile-cross {
        color: #fff;
        margin: 0 5px 20px 10px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover {
          color: rgba(255, 255, 255, 0.541);
        }
      }

      .mobile-list-item {
        list-style: none;
        margin-bottom: 13px;
        padding-right: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .mobile-link {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          transition: 0.3s ease;
          padding-left: 5px;
          font-size: 20px;

          &:hover {
            border-left: 3px solid white;
            color: rgba(255, 255, 255, 0.678);
          }
        }
      }

      .mobile-icons {
        color: #fff;
        font-size: 26px;
        z-index: 10;
        margin-left: 7px;
      }
    }

    .hidden {
      position: absolute;
      top: 0;
      right: -50%;
      transition: all 0.5s ease;
    }
  }

  .nav-list-item {
    display: none;
  }
}

.none {
  display: none;
}
